<!-- Interests --> 

<div class="w3-card w3-round w3-white w3-hide-small">
    <div class="w3-container">
        <p>Interests</p>
        <p>
        <span class="w3-tag w3-small w3-theme-d5">News later</span>
        <span class="w3-tag w3-small w3-theme-d4">Eventos do mês</span>
        <span class="w3-tag w3-small w3-theme-d3">Manual do Aluno</span>
        <span class="w3-tag w3-small w3-theme-d2">Programas de estagio</span>
        <span class="w3-tag w3-small w3-theme-d1">Bolsas de estudo</span>
        <span class="w3-tag w3-small w3-theme">Carreiras</span>
        <span class="w3-tag w3-small w3-theme-l1">Palestras</span>
        </p>
    </div>
</div>
<br>
