{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% block content_title_aluno %} {% endblock %}
</head>
<body class="w3-theme-l5">

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Faculdade</a>
      
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
    
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Menssages"><i class="fa fa-envelope"></i><span class="w3-badge w3-right w3-small w3-green">{{ mensagens.count }}</span></button>     
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          {% for mensagen in mensagens %}
          <a href="" onclick="document.getElementById('id02').style.display='block'"
          class="w3-bar-item w3-button">{{ mensagen.assunto }}</a>
            
          {% endfor %}
        </div>
      </div>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a href="#" class="w3-bar-item w3-button">One new friend request</a>
          <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
          <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
        </div>
      </div>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
        <img src="{% static '/img/user.png' %}" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
      </a>
    </div>
  </div>
  
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  </div>
  
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <div class="w3-col m3">
      {% block content_info_aluno %}{% endblock %}
      {% include 'app/partials/_secretaria.html' %}

      {% include 'app/partials/_interests.html' %}

      {% include 'app/partials/_informativo.html' %}
    </div>
    <!-- End Left Column -->

    {% block content_boletim %}{% endblock %}
    <!-- Middle Column -->
    <div class="w3-col m7">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Busca</h6>
              <p contenteditable="true" class="w3-border w3-padding"></p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div>
        </div>
      </div>
      <!-- Trabalhos ou atividades lançadas pelos professores -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
        
        {% for atividade in atividades_turma %}
          <span class="w3-right w3-opacity">Professor: {{ atividade.disciplina_ofertada.professor.usuario.first_name }}</span>
          <h4>Disciplina: {{ atividade.disciplina_ofertada.disciplina.nome }}</h4><br>
          <p>Descrição da atividade</p>
            <div class="w3-row-padding" style="margin:0 ">
              <p>{{ atividade.atividade.descricao }}</p>
              <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
              <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
              <hr class="w3-clear">
            </div>
            {% endfor %}   
      </div>
    </div>
    <!-- End Middle Column -->
  
  <!-- Right Column Provas e atividades recentes-->
  <div class="w3-col m2">
    <div class="w3-card w3-round w3-white w3-center">
      <div class="w3-container">
        <h5>Atividades</h5>
        <!-- <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;"> -->
        {% for atividade in atividades %}
        <p><strong>{{ atividade }}</strong></p>
        <p>Data de entrega</p>
        <p>{{ atividade.dt_fim }}</p>
        {% if atividade.status == "ABERTA" %}
        <p><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-round-large">Entregar</button></p>
        {% else %}
        <p><button  class="w3-button w3-grey w3-round-large w3-disabled">Fechada</button></p>
        {% endif %}
        <hr class="w3-clear">

        <!-- Modal -->
        <div class="w3-container">
        
          <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px;">
              <div class="w3-row w3-center"><br>
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                <div class="w3-col s6 w3-left">
                  <p><span class="">Titulo</span> {{ atividade.atividade.titulo }}</p>
                </div>
                <div class="w3-col s6 w3-left">
                  <p>Professor: {{ atividade.professor.usuario.first_name }}</p>
                </div>
                <div class="w3-col s6 w3-left">
                  <p>Aluno: {{ aluno_list.usuario.first_name }}</p>
                </div>
                <div class="w3-col s6 w3-left">
                  <p>Entrega: {{ atividade.dt_fim }}</p>
                </div>
              </div>
              <form class="w3-container" method="post" enctype="multipart/form-data">
                <div class="w3-section">
                  <label><b>Resposta</b></label>
                  <textarea cols="1" rows="5" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Resposta" name="username"></textarea>
                  <label><b>Arquivo</b></label>
                  <input class="w3-input" type="file" placeholder="" name="file" required>
                  <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Enviar</button>
                  
                </div>
              </form>
        
              <!-- <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
              </div> -->
        
            </div>
          </div>
        </div>
        <!-- Fim Modal -->
        {% endfor %}
      </div>
    </div>
    <br>
        <!-- Modal de Mensagens -->
        {% include 'app/partials/_mensagem.html' %}
        <!-- Fim Modal de Mensagens -->

        {% block content_Atividades_entregues %}{% endblock %}
        
        {% include 'app/partials/_carreiras_estagio.html' %}
        
        <div class="w3-card w3-round w3-white w3-theme-l1 w3-padding-32 w3-center">
          <p><i class="">Falta algo aqui?</i></p>
        </div>
        
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
  <!-- End Page Container -->
  </div>
  <br>
</div>
  <!-- Footer -->
  {% include 'app/partials/_footer.html' %}
  
  
   
  <script>
  // Accordion
  function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-theme-d1";
    } else { 
      x.className = x.className.replace("w3-show", "");
      x.previousElementSibling.className = 
      x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
  }
  
  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>
  

</body>
</html>