{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body style="margin: 0px; width: 100%; background-color: black;">
  
  {% include 'app/partials/_nav_home.html' %}
      
  <!-- JUMBOTRON INICIO -->
  <div class="" style="margin: 0px;">
      <img class="imagem" src="{% static '/img/vestibular.png' %}"  alt="">
  </div>
  <!-- JUMBOTRON FIM -->
  <hr>

  <div class="container">
    <h2 class="cursos">Conheça nossos cursos</h2>
      <div class="caixa">
        {% for curso in img1 %}
        <div class="block">
            <img class="img-cursos" src="{{ curso.imagem2.thumbnail.url }}" alt="">
            <figcaption class="caixa-fig">{{ curso }}</figcaption>
        </div>
        {% endfor %}
      </div>
  </div>
  <hr>

  <footer class="container">
    <div class="col-sm-3">
      <img class="logo" src="{% static '/img/logo4.png' %}" alt="">
    </div>
    <div class="info">
      <div class="col-sm-3">
        <div class="grid painel-header painel-header-yellow">
          <h5>A Faculdade</h5>
        </div>
        <div class="painel-body">
          <a href="">Graduação</a>
          <a href="">Pós</a>
          <a href="">Técnico</a>
          <a href="">Blog</a>
        </div>
      </div>  
      <div class="col-sm-3">
        <div class="grid painel-header painel-header-yellow">
          <h5>Contato</h5>
        </div>
        <div class="painel-body">
          <p>Comercial: (00) 00000-0000</p>
          <p>Secretaria: (00) 00000-0000</p>
          <p>E-mail: email@email.com</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="grid painel-header painel-header-yellow">
          <h5>Atendimento</h5>
        </div>
        <div class="painel-body">
          <h5>Secretaria de Educação</h5>
          <p>10:00 as 20:00</p>
          <h5>Sábado</h5>
          <p>Sem atendimento</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>