{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
        <title>Login</title>
    </head>
<body class="w3-theme-l5">
    <div class="grid">
        <div class="formulario">
            <form method="post">
                {% csrf_token %}
                <label for="">Username</label>
                <input type="text" name="username">
                <label for="">Password</label>
                <input type="text" name="username">
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body> 
</html>